.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  background: url('img/be-brave.png') no-repeat center center;
}

.search-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #6763ab;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #9370DB;
}



/* 快捷图标容器 */
.shortcut-container {
  display: grid;
  max-width: 1500px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  /* gap: 10px; */
  padding: 0px;
}


.shortcut-item,
.shortcut-item-dir {

  display: flex;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
}

.shortcut-img-container {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;

}


.shortcut-img {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  /* 模拟图标颜色 */
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

.shortcut-desc {
  text-align: center;
}


.shortcut-imgs-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 22px);
  grid-template-rows: repeat(2, 22px);
  border-radius: 20%;
  padding: 4px;
  background-color: rgba(248, 244, 241, 0.4);
}



.shortcut-item-dir .shortcut-sub-item img {
  width: 22px;
  height: 22px;
  border-radius: 20%;
}






.shortcut-item-list-container {
  display: none;
  /* 默认不显示 */
  position: fixed;
  /* 固定定位 */
  z-index: 1;
  /* 位于顶层 */
  left: 0;
  top: 0;
  width: 100%;
  /* 宽度100% */
  height: 100%;
  /* 高度100% */
  overflow: auto;
  /* 允许滚动 */
  background-color: rgb(0, 0, 0);
  /* 背景颜色 */
  background-color: rgba(0, 0, 0, 0.4);
  /* 背景颜色，带有透明度 */
}

.shortcut-item-list {
  background-color: #fefefe;
  margin: 25% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* 可以调整宽度 */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  /* 设置网格间距 */
}