.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('img/be-brave.png') no-repeat center center;
}

.search-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #6763ab;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #9370DB;
}

.shortcut-icons {
  display: flex;
  justify-content: center;
}

.shortcut-icons a {
  margin: 0 10px;
}

.shortcut-icons img {
  width: 50px;
  height: 50px;
}
